.card__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 22px;
  max-height: 35px;
  gap: 3px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
